:root {
  --basic-black: #000000;
  --basic-extra-dark: #766357;
  --basic-dark: #aba9a7;
  --basic-neutral: #eeeeee;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;

  --special: #81B3D2;
}
/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral);
  }
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}
.site-navigation {
  list-style: none;
}
.site-navigation-current a:not([href]) {
  background-color: var(-special);
}

/* User navigation */


.site-navigation a {
  color: var(---basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--special);
}
/* Features */

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}
