:root {
  --basic-black: #000000;
  --basic-extra-dark: #766357;
  --basic-dark: #aba9a7;
  --basic-neutral: #eeeeee;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;
  --basic-grey: #333333;
  --baasic-dark-grey: #666666;
  --basic-darkgrey: #F2F2F2;
  --basic-brown: #766357;
  --basic-blue: #81B3D2;
}
/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-darkgrey);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-sizing: content-box;
  }

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.filters {
  background-image: url("../img/catalogbackground.png");
  background-size: 100%;
  background-position: center;
}

.welcome{
  background-image: url("../img/backgroundphoto.jpg");
  text-align: center;
  background-position: center;
  background-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
}

.intro p {
  color: var(--basic-grey);
  font-size: 14px;
  line-height: 26px;
}

.intro {
  background-color: var(--basic-white);
  text-align: center;
}

.intro-heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
}
.intro-headline {
}

.container {
  width: 100%;
  margin: 0%;
}

/* Grid */

.page {
  height: 100%;
}


/* User navigation */
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.main-navigation-wrapper {
  background-color: var(--basic-white);
  width: 0 auto;
  margin: 0 auto;
  padding: 0 10px;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-header-logo {
order: 1;
justify-self: center;
outline-offset: -5px;
}

.site-navigation a {
  color: var(--basic-black);
  display: block;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

/* Features */

.benefits {
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 330px;
  margin: 0px;
  padding: 0px;

}

.benefits-item {
  text-align: center;
}

.benefits-item p {
  color: var(--basic-grey);
  font-weight: 400px;
}
.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 256px 256px 256px;
  margin: 0px;
  padding: 0px;
  text-align: center;

}

.features-item.right, .features-item.left {
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 256px;
  margin: 0px;
}

.feature-internal {
  grid-column: 1 / span 1;
  grid-row: 1/ 1;
}

.feature-picture {
  grid-column: 2/ span 2;
  grid-row: 1/ 1;
}

.features-item.left {
}

.features-item {
  background-color: var(--basic-neutral);
}

.features-heading {
  font-size: 21px;
  line-height: 21px;
}

.features-item p {
  color: var(--basic-grey);
  font-weight: 400;
}

.invatation {
  text-align: center;
}

.invatation-heading {
  font-size: 30px;
  line-height: 24px;
  text-align: center;

}

.invatation-subtitle {
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-neutral);
  text-align: center;
}

/* from */

.appointment {
}

.appointment-info-button {
  background-color: var(--basic-brown);
  text-align: center;
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
}
.appointment-form {
  max-width: 568px;
}

.small-form{
}

.appointment-search {
  background-color: var(--basic-blue);
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.map {
  background-color: var(--basic-neutral);
  background-position: center;
  background-size: 100%;
}

.hiden {
  display: none;
}


/* Catalog filters*/

.filters {
  color: var(--basic-white);
  font-weight: 400;
  height: 217px;

}
.filter-name {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.filter-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.show {
  text-align: center;
  font-weight: 400;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid;
  outline: none;
}

.filter-type  {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  display: none;
}

.found {
  font-size: 21px;
  font-weight: 700;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.rate-up {
  outline: none;
  border: none;
}

.rate-down {
  outline: none;
  border: none;
}

.recovered-flex {
  display: flex;
  flex-wrap: wrap;
}
.recovered{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* product-card */

.product-card {
  display: grid;
  grid-template-columns: 135px 1fr 1fr 1fr;
  grid-template-rows: 30px 30px 30px ;
  width: 1200px;
  height: 150px

}
.product-picture {
  grid-column: 1/1;
  grid-row: 1/4;
  }

.hotel-name {
  grid-column: 2/4;
  grid-row: 1/2;}


.type-of-hotel {
  grid-column: 2/3;
  grid-row: 2/3;}


.price {
  grid-column: 3/4;
  grid-row: 2/3;}

.detailed {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 110px;
  height: 27px}

.reservation {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 142px;
  height: 27px}}

.hotel-rating {
  grid-column: 4/5;
  grid-row: 1/2;}

.hotel-stars {
  grid-column: 4/5;
  grid-row: 3/4;}

/* Footer */

.page-footer {
  background-color: var(--basic-white);
}

.contacts {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.contacts-phone {
  text-decoration: none;
  color: var(--basic-black);
}
.social-networks {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  grid-template-rows: 56px;
  justify-self: center;

}
.social-button {
  background-color: var(--basic-blue);
  width: 48px;

}

.html-academy {
  text-decoration: none;

}
.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*catalog*/
.catalog {
  background-color: var(--basic-white);
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
}

.type-of-hotel {
  font-weight: 400;
  color: var(--basic-grey);
}

.price {
  font-weight: 400;
  color: var(--basic-grey);
}

.hotel-rating {
  color: var(--baasic-dark-grey);
  background-color: var(--basic-darkgrey);
}

.detailed {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  outline: none;
  border: none;
}

.reservation  {
  color: var(--basic-white);
  background-color: var(--basic-extra-dark);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  outline: none;
  border: none;
}

.filters{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
